.button {
  height: 48px;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.button_primary {
  background: var(--primary-button-background);
  color: var(--white);
}

.button_primary:hover {
  background: var(--primary-button-background-h);
}

.button_secondary {
  background-color: var(--purple);
  color: var(--white);
}

.button_secondary:hover {
  background-color: #5028c6;
}

.button_alternate {
  border: 1px solid var(--grey-3);
  background-color: var(--white);
  color: var(--grey-4);
}

.button_alternate:hover {
  border: 1px solid var(--black);
}

.button_disabled {
    opacity: 0.5;
    pointer-events: none;
}
